body {
  background-color: #222222;
}
canvas {
  border: 5px solid #F67E7D;
  border-radius: 7px;
}
h1 {
	text-align: center;
	color: #F67E7D;
	font-family: "Roboto", monospace;
	font-style: italic;
	font-size: 40px;
}
