body {
  background-color: #222222;
  font-family: "Roboto", monospace;
  font-style: italic;
  font-size: 14;
  color: #FFB997;
}
h1 {
  text-align: center;
  font-size: 40px;
  color: #F67E7D;
}
.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    text-decoration: none;
    color: #348C93;
}
.nav a:hover{
    color: #61C6CE;
}
.para {
  border: solid;
  padding: 2%;
  font-family: "Roboto", monospace;
  font-style: italic;
  font-size: 12px;
  color: #FFB997;
  text-align: center;
  margin-top: 30px;
  margin-left: 200px;
  margin-right: 200px;
}
.border {
  border-top: dashed;
  color: #FFB997;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.intro {
  font-family: "Roboto", monospace;
  font-style: italic;
  font-size: 12px;
  color: #FFB997;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 400px;
  margin-right: 400px;
}
