/*
 * Sets the overall styles for the page. There aren't many. All text is
 * centered, and the font is a monospaced Roboto (from Google).
 */

body {
  text-align: center;
  font-family: "Roboto", monospace;
}

/*
 * The header has a different font than the rest of the page. It's the title, so
 * it makes sense to make it a little different (and bigger).
 */

h1 {
  margin: 0 auto;
  font-family: "Major Mono Display", monospace;
  font-size: 48px;
  margin: 2%;
}

/*
 * The subheader (which let's us know whose turn it is) is a little smaller and
 * less prominent.
 */

h2 {
  font-size: 36px;
  font-weight: lighter;
  margin: 2%;
}

/*
 * The container is a flex-box, which is a powerful layout tool. It grows
 * dyanamically, and allows us to position our elements with precision.
 */

.container {
  display: flex;           /* set our display property to use flex-box */
  justify-content: center; /* center container horizontally */
  align-items: center;     /* center content vertically */
}


.textcontainer {
  display: flex;           /* set our display property to use flex-box */
  justify-content: center; /* center container horizontally */
  align-items: center;     /* center content vertically */
}

.textcell {
  border: 0px solid rgba(0, 0, 0, 0.75);
  height: 40px;
  user-select: none;
  width: 350px;
}


/*
 * We want to display the subheader, board, and reset button in a single
 * vertical column.
 */

.column {
  height: 100%;
  width: 100%;
  flex-direction: column; /* align children in columns instead of rows */
}

/*
 * This ensures that we get three rows of three squares, rather than a single
 * row of nine squares.
 */

.wrap {
  flex-wrap: wrap; /* tells container to drop down once it reaches max-width */
  height: 456px;
  width: 456px;
}

/*
 * The square itself. We give it a specific size and border.
 */

.square {
  border: 1px solid rgba(0, 0, 0, 0.75);
  height: 150px;
  user-select: none;
  width: 150px;
}

/*
 * And we give it a little flare when the user mouses over a square.
 */

.img1:hover {
  cursor: pointer;
  background-image: url("../img/mantis.jpg");
}
.img2:hover {
  cursor: pointer;
  background-image: url("../img/mantis2.jpg");
}
.img3:hover {
  cursor: pointer;
  background-image: url("../img/mantis3.jpg");
}
.img4:hover {
  cursor: pointer;
  background-image: url("../img/mantis4.jpg");
}
.img5:hover {
  cursor: pointer;
  background-image: url("../img/mantis5.jpg");
}
.img6:hover {
  cursor: pointer;
  background-image: url("../img/mantis6.jpg");
}
.img7:hover {
  cursor: pointer;
  background-image: url("../img/mantis7.jpg");
}
.img8:hover {
  cursor: pointer;
  background-image: url("../img/mantis8.jpg");
}
.img9:hover {
  cursor: pointer;
  background-image: url("../img/mantis9.jpg");
}
/*
 * The reset button sits just below the board.
 */

#reset-button {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}

/*
 * And a little flare when the user mouses over the button. The color scheme
 * switches (background and foreground).
 */

#reset-button:hover, #score-reset:hover, #buttonO:hover, #buttonX:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.square {
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 96px;
  height: 150px;
  line-height: 150px;
  user-select: none;
  width: 150px;
}
table, th, td {
  padding: 10px;
  border-collapse: collapse;
  border: 2px solid;
  font-family: "Roboto", monospace;
  font-size: 36px;
  border-color: lightgray;
}
.right {
  position: absolute;
  right: 0px;
  width: 500px;
  padding: 10px;
}
#buttonO, #buttonX{
  border: 1px solid black;
  color: black;
  font-size: 15px;
  line-height: 25px;
  margin: 1%;
  text-align: center;
  width: 30px;
}
#score-reset {
  border: 1px solid black;
  color: black;
  font-size: 18px;
  line-height: 25px;
  margin: 1%;
  text-align: center;
  width: 150px;
  float: right;

}
.selected {
  background-color: #8BD291;
}
